@model L08HandsOn.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-white">Details</h1>

<div>
    <h4 class="text-white">Movie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 text-white">
            @Html.DisplayNameFor(model => model.MovieTitle)
        </dt>
        <dd class = "col-sm-10 text-white">
            @Html.DisplayFor(model => model.MovieTitle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MovieId" class="text-white">Edit</a> |
    <a asp-action="Index" class="text-white">Back to List</a>
</div>
