@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Insurance Way<br />
    Insured, Planet<br />
    <abbr title="Phone">Call Today!</abbr>
    000.000.0000
</address>

